@media (max-width: 800px){
    .page-inner-content-main{
        display: none;
    }
    .page-inner-content-section{
        display: none;
    }

    .carrossel{
        display: block;
        
    }

    /* text area */
    .page-inner-content-txtarea{
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
    } 
    .home-text h1{
        text-align: left;
        padding: 1px ;
    }
    .home-text h5{
        text-align: left;
        padding: 1px ;
    }
    .home-text h3{
        text-align: left;
        padding: 1px ;
    }
    .home-text p{
        text-align: left;
        padding: 1px ;
    }
    .botãoAddSacola{
        display: none;
    }
    .btnResponsivoAddSacola{
        display: block;
    }
    .hr1{
        border-bottom: 1px solid #cfb5b5; 
        margin: 20px 0;
        width: auto;
    }
    .hr2{
        display: none;
    }

    /* Text Apresentação */
    .page-inner-content-areaApresentacao{
        width: 100%;
        margin-left: 0%;

    }
   
}